html,body {
  width: 100%;
}
/* This can all be ignored */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  border: 1px solid #3a3a3a;
  width: 50%;
  margin: 0 auto;
  padding: 40px;
}

h1 {
  margin: 10px 0;
}

input[type="text"] {
  width: 200px;
  height: 35px;
  padding-left: 10px;
}